<form class="container-fluid col-6 mx-2 mt-4" action="/register" method="POST">
<fieldset>
  <div class="pb-3">
    <label for="title">Título: </label>
    <input class="form-control" type="text" name="title">
  </div>
  <div class="pb-3">
    <label for="content">Conteúdo</label>
    <textarea class="form-control" name="content" cols="30" rows="10"></textarea>
  </div>
  <div class="pb-3 text-end">
    <button class="btn btn-primary" type="submit">Enviar postagem</button>
  </div>
</fieldset>

</form>