<header class="container-fluid m-2 mb-4">
  <h1>Lista de posts: </h1>
</header>

<main class="container-fluid m-2">
  <dl class="col-6">
    {{#each posts}}
      <dt>{{title}}</dt>
      <dd>{{content}}</dd>
      <hr class="mb-2">
    {{/each}}
  </dl>
</main>