<section class="container-fluid p-4">
  <h1 class="mb-4">
    DevBlog
  </h1>
  <p>
    Blog desenvolvido para consolidar conhecimentos das melhores práticas de uso do JavaScript para back-end já utilizando <strong>ASP.Net core MVC<strong>
  </p>
</section>